In [ ]:
import pandas as pd

In [ ]:
swiggy_df = pd.read_csv('/content/swiggy.csv')

In [ ]:
roll_up_swiggy = swiggy_df.groupby(['ID', 'Area','City','Restaurant','Price','Avg ratings','Food type','Address','Delivery time']).mean().reset_index()

In [ ]:
print("Roll-up operation result:\n", roll_up_swiggy)

Roll-up operation result:
           ID            Area       City          Restaurant  Price  \
0        211     Koramangala  Bangalore         Tandoor Hut  300.0
1        221     Koramangala  Bangalore       Tunday Kababi  300.0
2        234     Koramangala  Bangalore         Uday Sweets  100.0
3        246       Jogupalya  Bangalore             Kim Lee  650.0
4        248     Indiranagar  Bangalore   New Punjabi Hotel  250.0
...      ...             ...        ...                 ...    ...
8675  466460  Marol Sakinaka     Mumbai         Aksha Dhaba  300.0
8676  466488     Navrangpura  Ahmedabad        Sassy Street  250.0
8677  466669    Andheri East     Mumbai          Filo Bakes  400.0
8678  466772  Marol Sakinaka     Mumbai           Bench Bar  600.0
8679  466928           Kurla     Mumbai  Shane Ahmedi Hotel  300.0

      Avg ratings                                    Food type  \
0             4.4    Biryani,Chinese,North Indian,South Indian
1             4.1                             Mughlai,Lucknowi
2             3.9                                    Fast Food
3             4.4                                      Chinese
4             3.9         North Indian,Punjabi,Tandoor,Chinese
...           ...                                          ...
8675          2.9  Mughlai  Arabian  Tandoor  Chinese  Seafood
8676          2.9                         Chaat,Snacks,Chinese
8677          2.9                             Bakery  Desserts
8678          2.9                         North Indian  Salads
8679          2.9                Indian  Chinese  North Indian

             Address  Delivery time  Total ratings
0          5Th Block             59          100.0
1          5Th Block             56          100.0
2          5Th Block             49           50.0
3        Double Road             50          100.0
4       80 Feet Road             57          500.0
...              ...            ...            ...
8675  Marol Sakinaka             43           80.0
8676     Navrangpura             44           80.0
8677    Andheri East             56           80.0
8678  Marol Sakinaka             46           80.0
8679           Kurla             39           80.0

[8680 rows x 10 columns]

In [ ]:
drill_down_swiggy = swiggy_df.groupby(['ID', 'Area','City','Restaurant','Price','Avg ratings','Food type','Address','Delivery time']).mean().reset_index()

In [ ]:
print("\nDrill-down operation result:\n", drill_down_swiggy)

Drill-down operation result:
           ID            Area       City          Restaurant  Price  \
0        211     Koramangala  Bangalore         Tandoor Hut  300.0
1        221     Koramangala  Bangalore       Tunday Kababi  300.0
2        234     Koramangala  Bangalore         Uday Sweets  100.0
3        246       Jogupalya  Bangalore             Kim Lee  650.0
4        248     Indiranagar  Bangalore   New Punjabi Hotel  250.0
...      ...             ...        ...                 ...    ...
8675  466460  Marol Sakinaka     Mumbai         Aksha Dhaba  300.0
8676  466488     Navrangpura  Ahmedabad        Sassy Street  250.0
8677  466669    Andheri East     Mumbai          Filo Bakes  400.0
8678  466772  Marol Sakinaka     Mumbai           Bench Bar  600.0
8679  466928           Kurla     Mumbai  Shane Ahmedi Hotel  300.0

      Avg ratings                                    Food type  \
0             4.4    Biryani,Chinese,North Indian,South Indian
1             4.1                             Mughlai,Lucknowi
2             3.9                                    Fast Food
3             4.4                                      Chinese
4             3.9         North Indian,Punjabi,Tandoor,Chinese
...           ...                                          ...
8675          2.9  Mughlai  Arabian  Tandoor  Chinese  Seafood
8676          2.9                         Chaat,Snacks,Chinese
8677          2.9                             Bakery  Desserts
8678          2.9                         North Indian  Salads
8679          2.9                Indian  Chinese  North Indian

             Address  Delivery time  Total ratings
0          5Th Block             59          100.0
1          5Th Block             56          100.0
2          5Th Block             49           50.0
3        Double Road             50          100.0
4       80 Feet Road             57          500.0
...              ...            ...            ...
8675  Marol Sakinaka             43           80.0
8676     Navrangpura             44           80.0
8677    Andheri East             56           80.0
8678  Marol Sakinaka             46           80.0
8679           Kurla             39           80.0

[8680 rows x 10 columns]

In [ ]:
slice_op_swiggy = swiggy_df

In [ ]:
print("\nDrill-down operation result:\n", drill_down_swiggy)

Drill-down operation result:
           ID            Area       City          Restaurant  Price  \
0        211     Koramangala  Bangalore         Tandoor Hut  300.0
1        221     Koramangala  Bangalore       Tunday Kababi  300.0
2        234     Koramangala  Bangalore         Uday Sweets  100.0
3        246       Jogupalya  Bangalore             Kim Lee  650.0
4        248     Indiranagar  Bangalore   New Punjabi Hotel  250.0
...      ...             ...        ...                 ...    ...
8675  466460  Marol Sakinaka     Mumbai         Aksha Dhaba  300.0
8676  466488     Navrangpura  Ahmedabad        Sassy Street  250.0
8677  466669    Andheri East     Mumbai          Filo Bakes  400.0
8678  466772  Marol Sakinaka     Mumbai           Bench Bar  600.0
8679  466928           Kurla     Mumbai  Shane Ahmedi Hotel  300.0

      Avg ratings                                    Food type  \
0             4.4    Biryani,Chinese,North Indian,South Indian
1             4.1                             Mughlai,Lucknowi
2             3.9                                    Fast Food
3             4.4                                      Chinese
4             3.9         North Indian,Punjabi,Tandoor,Chinese
...           ...                                          ...
8675          2.9  Mughlai  Arabian  Tandoor  Chinese  Seafood
8676          2.9                         Chaat,Snacks,Chinese
8677          2.9                             Bakery  Desserts
8678          2.9                         North Indian  Salads
8679          2.9                Indian  Chinese  North Indian

             Address  Delivery time  Total ratings
0          5Th Block             59          100.0
1          5Th Block             56          100.0
2          5Th Block             49           50.0
3        Double Road             50          100.0
4       80 Feet Road             57          500.0
...              ...            ...            ...
8675  Marol Sakinaka             43           80.0
8676     Navrangpura             44           80.0
8677    Andheri East             56           80.0
8678  Marol Sakinaka             46           80.0
8679           Kurla             39           80.0

[8680 rows x 10 columns]

In [ ]:
print("\nSlice operation result:\n", slice_op_swiggy)

Slice operation result:
           ID                    Area       City                Restaurant  \
0        211             Koramangala  Bangalore               Tandoor Hut
1        221             Koramangala  Bangalore             Tunday Kababi
2        246               Jogupalya  Bangalore                   Kim Lee
3        248             Indiranagar  Bangalore         New Punjabi Hotel
4        249             Indiranagar  Bangalore                       Nh8
...      ...                     ...        ...                       ...
8675  464626  Panjarapole Cross Road  Ahmedabad                Malt Pizza
8676  465835                  Rohini      Delhi  Jay Mata Ji Home Kitchen
8677  465872                  Rohini      Delhi      Chinese Kitchen King
8678  465990                  Rohini      Delhi    Shree Ram Paratha Wala
8679  466488             Navrangpura  Ahmedabad              Sassy Street

      Price  Avg ratings  Total ratings  \
0     300.0          4.4            100
1     300.0          4.1            100
2     650.0          4.4            100
3     250.0          3.9            500
4     350.0          4.0             50
...     ...          ...            ...
8675  500.0          2.9             80
8676  200.0          2.9             80
8677  150.0          2.9             80
8678  150.0          2.9             80
8679  250.0          2.9             80

                                              Food type       Address  \
0             Biryani,Chinese,North Indian,South Indian     5Th Block
1                                      Mughlai,Lucknowi     5Th Block
2                                               Chinese   Double Road
3                  North Indian,Punjabi,Tandoor,Chinese  80 Feet Road
4     Rajasthani,Gujarati,North Indian,Snacks,Desser...  80 Feet Road
...                                                 ...           ...
8675                                             Pizzas   Navrangpura
8676                                       South Indian        Rohini
8677                             Chinese,Snacks,Tandoor        Rohini
8678                         North Indian,Indian,Snacks        Rohini
8679                               Chaat,Snacks,Chinese   Navrangpura

      Delivery time
0                59
1                56
2                50
3                57
4                63
...             ...
8675             40
8676             28
8677             58
8678             28
8679             44

[8680 rows x 10 columns]